
@{
    ViewBag.Title = "AutoVentas'Cars";
}

<h2>Index</h2>
@if (Session["idUsuario"] != null)
{
    <div class="page-header">
        <h2>Bienvenido! @Session["nombreUsuario"]</h2>
    </div>

    

<div class="row">
    <div class="col-sm-4">
        <div class="thumbnail">
            <img src="~/img/auto.jpg" alt="...">
            <div class="caption">
                <h3>Autos</h3>
                <p>Ingrese para ver todos los autos a la venta!</p>
                <p>@Html.ActionLink("Ver Autos", "Index", "Automovil", new { area = "" }, new { @class = "btn btn-default" })</p>
            </div>
        </div>
    </div>
</div>
    
}
else { 
<h2>Por Favaor Inicie Sesion para acceder al contenido!</h2>
    <button>@Html.ActionLink("Ingresar","Login","Cuenta")</button>
}


